<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name = "org.sample.reporting.CustomReport" />
    </listeners>

    <test verbose="2" preserve-order="true"
          name="selenium-pom-bdd-testng-framework">
        <classes>
            <class name = "org.sample.runner.TestRunner" />
        </classes>
    </test>
</suite>